*.o
*.gcno
*.gcda
make.depend
.buildlib_estbase
.buildlib_estools
.buildlib_eststring
autom4te.cache/
*.tar.gz
festival/lib/dicts
festival/lib/voices
.buildlib_Festival
festival/bin/festival
festival/bin/festival_client
festival/bin/festival_server
festival/bin/festival_server_control
festival/bin/text2wave
festival/bin/default_voices
festival/config.log
festival/config.status
festival/config/config
festival/config/modincludes.inc
festival/config/system.mak
festival/doc/festival.1
festival/doc/festival_client.1
festival/doc/text2wave.1
festival/examples/dumpfeats
festival/examples/durmeanstd
festival/examples/latest
festival/examples/make_utts
festival/examples/powmeanstd
festival/examples/run-festival-script
festival/examples/saytime
festival/examples/scfg_parse_text
festival/examples/text2pos
festival/examples/text2utt
festival/examples/text2wave
festival/lib/cstr.scm
festival/lib/etc/*/
festival/lib/fringe.scm
festival/lib/siod.scm
festival/lib/web.scm
festival/make.include
festival/src/lib/libFestival.a
festival/src/main/festival
festival/src/main/festival_client
festival/src/modules/init_modules.cc
festival/testsuite/fest_script.out
festival/testsuite/modes_script.out
festival/testsuite/parse_script.out
festival/testsuite/scherr_script.out
festival/testsuite/text_script.out
festival/testsuite/tmp/
festival/testsuite/voice_script.out
speech_tools/bin/align
speech_tools/bin/bcat
speech_tools/bin/ch_lab
speech_tools/bin/ch_track
speech_tools/bin/ch_utt
speech_tools/bin/ch_wave
speech_tools/bin/design_filter
speech_tools/bin/dp
speech_tools/bin/est_examples
speech_tools/bin/est_gdb
speech_tools/bin/est_program
speech_tools/bin/make_wagon_desc
speech_tools/bin/na_play
speech_tools/bin/na_record
speech_tools/bin/ngram_build
speech_tools/bin/ngram_test
speech_tools/bin/ols
speech_tools/bin/ols_test
speech_tools/bin/pda
speech_tools/bin/pitchmark
speech_tools/bin/pm
speech_tools/bin/raw_to_xgraph
speech_tools/bin/resynth
speech_tools/bin/scfg_make
speech_tools/bin/scfg_parse
speech_tools/bin/scfg_test
speech_tools/bin/scfg_train
speech_tools/bin/sig2fv
speech_tools/bin/sigfilter
speech_tools/bin/siod
speech_tools/bin/spectgen
speech_tools/bin/tilt_analysis
speech_tools/bin/tilt_synthesis
speech_tools/bin/viterbi
speech_tools/bin/wagon
speech_tools/bin/wagon_test
speech_tools/bin/wfst_build
speech_tools/bin/wfst_run
speech_tools/bin/wfst_train
speech_tools/bin/xml_parser
speech_tools/config.log
speech_tools/config.status
speech_tools/config/compilers/custom.mak
speech_tools/config/config
speech_tools/config/modincludes.inc
speech_tools/config/system.mak
speech_tools/config/user_flags.mak
speech_tools/lib/est_mainline
speech_tools/lib/est_program_makefile
speech_tools/lib/libestbase.a
speech_tools/lib/libestools.a
speech_tools/lib/libeststring.a
speech_tools/main/align
speech_tools/main/bcat
speech_tools/main/ch_lab
speech_tools/main/ch_track
speech_tools/main/ch_utt
speech_tools/main/ch_wave
speech_tools/main/design_filter
speech_tools/main/dp
speech_tools/main/na_play
speech_tools/main/na_record
speech_tools/main/ngram_build
speech_tools/main/ngram_test
speech_tools/main/ols
speech_tools/main/ols_test
speech_tools/main/pda
speech_tools/main/pitchmark
speech_tools/main/scfg_make
speech_tools/main/scfg_parse
speech_tools/main/scfg_test
speech_tools/main/scfg_train
speech_tools/main/sig2fv
speech_tools/main/sigfilter
speech_tools/main/siod
speech_tools/main/spectgen
speech_tools/main/tilt_analysis
speech_tools/main/tilt_synthesis
speech_tools/main/viterbi
speech_tools/main/wagon
speech_tools/main/wagon_test
speech_tools/main/wfst_build
speech_tools/main/wfst_run
speech_tools/main/wfst_train
speech_tools/main/xml_parser
speech_tools/make.include
speech_tools/siod/make.include
speech_tools/testsuite/.test_out
speech_tools/testsuite/ch_track_script.out
speech_tools/testsuite/ch_wave_script.out
speech_tools/testsuite/complex_example
speech_tools/testsuite/complex_example.out
speech_tools/testsuite/complex_regression
speech_tools/testsuite/complex_regression.out
speech_tools/testsuite/deq_example
speech_tools/testsuite/deq_example.out
speech_tools/testsuite/deq_regression
speech_tools/testsuite/deq_regression.out
speech_tools/testsuite/feature_example
speech_tools/testsuite/feature_example.out
speech_tools/testsuite/feature_regression
speech_tools/testsuite/feature_regression.out
speech_tools/testsuite/handle_example
speech_tools/testsuite/handle_example.out
speech_tools/testsuite/handle_regression
speech_tools/testsuite/handle_regression.out
speech_tools/testsuite/hash_example
speech_tools/testsuite/hash_example.out
speech_tools/testsuite/hash_regression
speech_tools/testsuite/hash_regression.out
speech_tools/testsuite/kvl_example
speech_tools/testsuite/kvl_example.out
speech_tools/testsuite/kvl_regression
speech_tools/testsuite/kvl_regression.out
speech_tools/testsuite/ling_example
speech_tools/testsuite/ling_example.out
speech_tools/testsuite/ling_regression
speech_tools/testsuite/ling_regression.out
speech_tools/testsuite/list_example
speech_tools/testsuite/list_example.out
speech_tools/testsuite/list_regression
speech_tools/testsuite/list_regression.out
speech_tools/testsuite/lpc_script.out
speech_tools/testsuite/named_enum_example
speech_tools/testsuite/named_enum_example.out
speech_tools/testsuite/named_enum_regression
speech_tools/testsuite/named_enum_regression.out
speech_tools/testsuite/pathname_example
speech_tools/testsuite/pathname_example.out
speech_tools/testsuite/pathname_regression
speech_tools/testsuite/pathname_regression.out
speech_tools/testsuite/string_example
speech_tools/testsuite/string_example.out
speech_tools/testsuite/string_regression
speech_tools/testsuite/string_regression.out
speech_tools/testsuite/tilt_script.out
speech_tools/testsuite/tmp/
speech_tools/testsuite/token_example
speech_tools/testsuite/token_example.out
speech_tools/testsuite/token_regression
speech_tools/testsuite/token_regression.out
speech_tools/testsuite/track_example
speech_tools/testsuite/track_example.out
speech_tools/testsuite/track_regression
speech_tools/testsuite/track_regression.out
speech_tools/testsuite/viterbi_script.out
speech_tools/testsuite/wagon_script.out
speech_tools/testsuite/xml_example
speech_tools/testsuite/xml_example.out
speech_tools/testsuite/xml_regression
speech_tools/testsuite/xml_regression.out
speech_tools/doc/man/*.dox
speech_tools/doc/doxygen
festival/doc/festfeat.texi
festival/doc/festfunc.texi
festival/doc/festival.aux
festival/doc/festival.cp
festival/doc/festival.cps
festival/doc/festival.dvi
festival/doc/festival.fn
festival/doc/festival.ky
festival/doc/festival.log
festival/doc/festival.pg
festival/doc/festival.ps
festival/doc/festival.toc
festival/doc/festival.tp
festival/doc/festival.vr
festival/doc/festvars.texi
festival/doc/html/
festival/doc/info/
festival/doc/refcard.aux
festival/doc/refcard.dvi
festival/doc/refcard.log
festival/doc/refcard.ps
